# Ignorar todo por defecto
*

# Excepciones: permitir solo estas carpetas
!.gitignore
!i3/
!polybar/
!alacritty/
!picom/
!nvim/

# Y permitir todo el contenido dentro de ellas
!i3/**
!polybar/**
!alacritty/**
!picom/**
!nvim/**

nvim/lua/.env
nvim/test.*
