# Ignorar todo por defecto
*

# Excepciones: permitir solo estas carpetas
!.gitignore
!i3/
!polybar/
!alacritty/
!picom/
!/Qmk-Lily58-Dvorak/
!nvim/
!kitty/

# Y permitir todo el contenido dentro de ellas
!i3/**
!polybar/**
!alacritty/**
!picom/**
!/Qmk-Lily58-Dvorak/**
!nvim/**
!kitty/**

nvim/lua/.env
nvim/test.*
